extends layout

block content
  h1 API for Hall Booking
  h4 API End-points:
  p -- /create-room : To create a Room/Hall
  p -- /room-booking : To book a Room/Hall
  p -- /booked-rooms : To get all the booked Rooms/halls
  p -- /booked-customer-details : To get the customer details those whose booked a Room/Hall
  








